doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//bootswatch.com/slate/bootstrap.min.css')
		link(rel='icon' href='public/favicon.ico')
		body
			nav(class='navbar navbar-default navbar-fixed')
				div(class='container')
					div(class='navbar-header')
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
							span(class="sr-only") Toggle navigation
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class='navbar-brand' href='/')= title
					div(class="collapse navbar-collapse")
						ul(class="nav navbar-nav")
							li
								a(href='/admin/home') Home
							li
								a(href='/admin/createNewPost') New post
							li
								a(href='/admin/users') Users
							li
								a(href='/admin/upload') Upload
							li
								a(href='/admin/themes') Themes
							li
								a(href='/archives') Customize	
			block content
			footer(class='footer')
				div(class='container')
					p(class='text-muted')= title
		script(src='//code.jquery.com/jquery-2.1.4.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')