doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//bootswatch.com/slate/bootstrap.min.css')
		link(rel='icon' href='public/favicon.ico')
		body
			block content
			footer(class='footer')
				div(class='container')
					p(class='text-muted')= title
		script(src='//code.jquery.com/jquery-2.1.4.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')