extends adminLayout

block content
	.container
			.row
				.col-md-12
					h2.site-header admin/themes
					form
						label(for="siteTheme") Theme bootstrap
						select(name="siteTheme" id="siteTheme" class="form-control")
							option(vale="option1") option 1
							option(vale="option2") option 2
							option(vale="option3") option 3
						label(for="headerImg") Header img
						select(name="headerImg" id="headerImg" class="form-control")
							option(vale="option1") option 1
							option(vale="option2") option 2
							option(vale="option3") option 3
						button.btn.btn-primary.btn-form Select