extends adminLayout

block content
	.container
			.row
				.col-md-12
					h2.page-header Upload picture
					form
						label(for="upload") Select file
						input(class="form-control" type="file" id="upload")
						button.btn.btn-primary.btn-form upload