//
   Created by csensebe on 13/12/2015.
.container
    .row
        .col-md-12
            p.alert.alert-default default
    .row
        .col-md-12
            p.alert.alert-primary primary
    .row
        .col-md-12
            p.alert.alert-sucess succes
    .row
        .col-md-12
            p.alert.alert-info info
    .row
        .col-md-12
            p.alert.alert-warning warning
    .row
        .col-md-12
            p.alert.alert-danger danger