doctype html
html
    include ../commonPartials/head
        body
            include partials/header
            include ../commonPartials/flash
            block content
            include partials/footer
        include ../commonPartials/scripts