extends adminLayout

block content
	.container
			.row
				.col-md-12
					h2.page-header Files
					form(method="post" action="/admin/delFile")
						button.btn.btn-primary.btn-form Delete file
					form(method="post" action="/admin/upload")
						label(for="upload") Select file to upload
						input(type="file" name="upload" id="upload" class="form-control" required)
						button.btn.btn-primary.btn-form Upload