extends adminLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{pageTitle}
                    form(method="post" action="/admin/upload" enctype="multipart/form-data")
                        include partials/csrfToken
                        label(for="image") #{page.labelForFileUpload}
                        input(type="file" name="image" id="image" class="form-control" required)
                        button.btn.btn-primary.btn-form #{page.uploadFileButtonText}