extends adminLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{pageTitle}
                    form(method="post" action="/admin/delFile")
                        include partials/csrfToken
                        button.btn.btn-primary.btn-form #{page.deleteFileButtonText}
                        form(method="post" action="/admin/upload")
                        include partials/csrfToken
                        label(for="upload") #{page.labelForFileUpload}
                        input(type="file" name="upload" id="upload" class="form-control" required)
                        button.btn.btn-primary.btn-form #{page.uploadFileButtonText}