extends adminLayout

block content
	.container
			.row
				.col-md-12
					h2.page-header Login
					form(method="post" action="/admin/login")
						label(for="login") Login
						input(class="form-control" id="login" required)
						label(for="password") Password
						input(class="form-control" id="password" type="password" required)
						button.btn.btn-primary.btn-form Login