extends adminLayout

block content
	.container
			.row
				.col-md-12
					h2.page-header Login
					form
						label(for="login") Login
						input(class="form-control" id="login")
						label(for="password") Password
						input(class="form-control" id="password" type="password")
						button.btn.btn-primary.btn-form Login