extends adminLayout

block content
	.container
			.row
				.col-md-12
					h2.page-header #{page.pageTitle}
					form(method="post" action="/admin/settings")
						include partials/csrfToken
						label(for="bootstrapTheme") #{page.labelForSelectTheme}
						select(class="form-control" id="bootstrapTheme" name="bootstrapTheme" required)
							option(value="theme1") Theme 1
							option(value="theme2") Theme 2
							option(value="theme3") Theme 3
						label(for="headerImg") #{page.labelForSelectHeaderImg}
						select(class="form-control" id="headerImg" name="headerImg" required)
							option(value="img1") Image 1
							option(value="img2") Image 2
							option(value="img3") Image 3
						button.btn.btn-primary.btn-form #{page.selectThemeButton}