extends adminLayout

block content
	.container
			.row
				.col-md-12
					h2.page-header Admin tags
					form(method="post" action="/Admin/delTag")
						button.btn.btn-primary.btn-form Delete tag
					form(method="post" action="/admin/addTag")
						label(for="addTag") Add tag
						input(id="addTag" name="addTag" class="form-control" required)
						button.btn.btn-primary.btn-form Add tag
					