extends adminLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header Users
                - each user in users
                    h3
                        a(href="/admin/user/#{user.username}")= user.username