extends siteLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header Posts
                - each post in posts
                    h3
                        a(href="/post/#{post._id}")= post.title
                    p= "created : " + post.created
                    p= "by : " + post.author
