extends siteLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{page.post.title}
                p #{page.createdText + page.post.created}
                p #{page.authorText + page.post.author}
                p #{page.post.post}
