extends siteLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{pageContent.pageTitle}
                p #{pageContent.createdText + pageContent.post.created}
                p #{pageContent.authorText + pageContent.post.author}
                p #{pageContent.post.post}
