extends siteLayout

block content
    .container
        .row
            .col-md-12
                h2.page-header #{pageContent.page.post.title}
                p #{pageContent.page.createdText + pageContent.page.post.created}
                p #{pageContent.page.authorText + pageContent.page.post.author}
                p #{pageContent.page.post.post}
